.project-container {
  .description {
    height: 800px;
    background-color: #101010;
    padding: 0 15%;
    display: flex;
    justify-content: center;
    align-items: end;

    h1 {
      font-size: 60px;
      color: #101010;
      font-weight: 700;
      font-family: "Poppins-Black";
    }

    p {
      color: #717173;
      font-size: 20px;
      font-weight: 600;
      font-family: "Quicksand-Regular";
    }

    .inside {
      background-color: #ffff;
      padding: 10%;
    }
  }

  .parallax {
    background-image: url("../../assets/images/inicont.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
  }

  .features {
    display: flex;
    justify-content: space-around;
    padding: 5% 10%;

    .feature {
      display: flex;
      align-items: center;
      flex-direction: column;

      img {
        width: 200px;
        border-radius: 50%;
        margin-bottom: 30px;
      }

      p {
        width: 80%;
        text-align: center;
      }
    }
  }
}
