.companies-container {
  padding: 5% 10%;
  background-color: #191919;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  p {
    text-align: center;
    color: #717173;
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    font-family: "Poppins-Medium";
  }

  .companies {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;

    .ant-image {
      margin: 10px 20px;

      img {
        height: 70px;
        transition: 0.3s;
      }

      img:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }

  @media (max-width: 770px) {
    p {
      font-size: 16px;
    }
  }

  @media (max-width: 450px) {
    p {
      font-size: 14px;
    }
  }
}
