.skills-content {
  padding: 5% 10%;
  background-color: #101010;

  h1 {
    text-align: center;
    font-size: 60px;
    color: #ffff;
    font-weight: 700;
    font-family: "Poppins-Black";
  }

  .skills {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-top: 5%;

    .each {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 300px;

      img {
        height: 130px;
      }

      b {
        color: #717173;
        font-size: 20px;
        font-weight: 600;
        font-family: "Quicksand-Light";
        margin: 20px 0;
      }

      p {
        color: #717173;
        font-size: 18px;
        font-weight: 400;
        font-family: "Quicksand-Light";
      }
    }
  }
}
