.about-container {
  padding: 5% 10%;
  background-color: #191919;

  h1 {
    font-size: 60px;
    color: #ffff;
    font-weight: 700;
    font-family: "Poppins-Black";
    margin: 0 15%;
  }

  .description {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    flex-flow: row wrap;

    p {
      color: #717173;
      font-size: 20px;
      font-weight: 400;
      font-family: "Poppins-Medium";
      margin-left: 40px;
      width: 45%;
    }
  }

  .ant-tabs {
    color: #ffff;
    margin: 20px 15%;

    b {
      font-family: "Quicksand-Regular";
    }

    .courses {
      display: flex;
      margin-top: 10px;
      justify-content: space-between;
    }

    p {
      font-family: "Quicksand-Light";
      font-size: 16px;
    }

    .ant-tabs-tab-btn {
      font-size: 18px;
      font-family: "Quicksand-Light";
    }

    .ant-tabs-nav::before {
      border-bottom: none;
    }

    .ant-tabs-ink-bar {
      color: #008bff;
    }
  }

  img {
    height: 300px;
  }

  @media (max-width: 770px) {
    h1 {
      font-size: 35px;
      text-align: center;
    }

    img {
      height: 200px;
      margin-bottom: 50px;
    }

    .ant-tabs {
      .ant-tabs-tab-btn {
        font-size: 14px;
      }

      p {
        font-size: 12px;
      }
    }

    .description {
      p {
        font-size: 16px;
      }
    }
  }
}
