.home-container {
  .tsparticles {
    height: 900px;
  }

  .main {
    position: absolute;
    top: 40%;
    left: 20%;

    .title {
      h2 {
        color: #717173;
        letter-spacing: 4px;
        margin-bottom: 20px;
      }

      h1 {
        color: #ffff;
        font-size: 55px;
        font-weight: 700;
        font-family: "Poppins-Black";
      }

      .charge {
        color: #008bff;
      }
    }
  }

  img {
    height: 20px;
  }
}
