.home-container {
  .tsparticles {
    height: 900px;
  }

  .main {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    width: 100%;

    .title {
      h2 {
        color: #717173;
        letter-spacing: 4px;
        margin-bottom: 20px;
      }

      h1 {
        color: #ffff;
        font-size: 55px;
        font-weight: 700;
        font-family: "Poppins-Black";
      }

      .charge {
        color: #338ddf;
      }
    }
  }

  img {
    height: 20px;
  }

  @media (max-width: 770px) {
    .main {
      .title {
        h2 {
          font-size: 15px;
        }

        h1 {
          font-size: 28px;
        }
      }
    }
  }

  @media (max-width: 450px) {
    .main {
      .title {
        h2 {
          font-size: 12px;
        }

        h1 {
          font-size: 24px;
        }
      }
    }
  }
}
