.footer-container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #191919;
  align-items: center;
  color: #bababa;
  padding: 0 50px;

  .logos {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin-left: 12%;

    img {
      height: 40px;
    }
  }
}
